<div class="sighting-form-container">
  <%= simple_form_for @sighting, url: create_sighting_path do |form| %>
    <div class="sighting-form">
      <%= form.label :address, "Address", class: "form-label" %>
      <%= form.text_field :address, class: "form-input" %>
      <%= form.label :description, "Description", class: "form-label" %>
      <%= form.text_area :description, rows: 4, class: "form-textarea" %>
      <%= form.label :last_seen_at, "Last Seen At", class: "form-label" %>
      <%= form.datetime_select :last_seen_at, class: "form-input" %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.input :photo, as: :file %>
    </div>

    <div class="sighting-form">
      <%= form.submit "Create Sighting", class: "form-submit" %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', sightings_step1_path, class: "back-link" %>
