<div class="container">
  <!-- Title and Add Sighting Button -->
  <div class="d-flex justify-content-center align-items-center my-4">
    <h4>Where did the sighting occur?</h4>
  </div>

  <!-- Search Form -->
  <div class="d-flex justify-content-center">
    <%= form_with url: sightings_step1_path, method: :get, local: true, class: "search-form mt-1 mb-3 d-flex align-items-center" do %>
      <%= text_field_tag :query, params[:query], placeholder: "Enter city", class: "form-control form-control-lg w-auto rounded-pill" %>
      <%= button_tag(type: "submit", class: "align-middle ml-2 rounded-pill border-0 px-3 py-2  text-white bg-warning") do %>
        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
      <% end %>
    <% end %>
  </div>
  <!-- Grid Layout for Cards -->
  <% if !@cats.empty? %>
  <div class="d-flex">
    <h4 class="text-center my-2"> Lost cats in <%= params[:query]%></h4>
    <div class="d-flex">
      <p class= mb-1>You don't recognize the cat?<%= link_to "add sighting here", add_sighting_path, class: "btn-main my-2 ms-3" %></p>
    </div>
  </div>

    <div class="grid">
      <% @cats.each do |cat| %>
        <div class="box card mb-4" style="position: relative;">
          <!-- Cat Info inside each card -->
          <div class="card-cat-infos">
            <% if cat.photo.attached? %>
              <%= cl_image_tag cat.photo.key, class: "card-img-top img-fluid" %>
            <% end %>
            <div class="card-body">
              <h2 class="card-title py-2"><strong><%= cat.name %></strong></h2>
              <p><strong><%= "#{cat.name} was lost at: " %></strong></p>
              <p><%= cat.origin_address %></p>
              <% if cat.sightings.any? %>
              <p><strong><%= "Last seen at:" %></strong></p>
              <% last_sighting = cat.sightings.accepted.order(last_seen_at: :desc).first %>
              <p><%= last_sighting.address if last_sighting %></p>
              <p><%= last_sighting.last_seen_at.strftime("%A, %d %B %Y at: %H:%M") if last_sighting %></p>

              <% else %>
                <p><strong>No sightings available yet.</strong></p>
              <% end %>
              <p><strong>Description:</strong> <%= cat.description %></p>
              <p class="d-flex justify-content-end" style="position: absolute; bottom: 10px; right: 10px;">
                  <%= link_to "Add sighting to this cat", cat_path(cat), class: "btn-main my-1 ms-3 me-3" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <strong><h1 class="text-center my-4"><%= "We have no lost cats in: #{params[:query]}" %></h1></strong>
  <% end %>
</div>
