<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <div class="d-flex align-items-center">
          <%= image_tag "new_logo.png", style: "width: 90px; height: auto;" %>

        </div>
      <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto pt-2">
        <% if user_signed_in? %>

          <li class="nav-item me-3">
            <%= link_to new_cat_path, class: "nav-link" do %>
              <h6 class="border-start border-warning ps-1 fw-bold text-dark">I lost my cat</h6>
            <% end %>
          </li>
          <li class="nav-item me-3">
            <%= link_to sightings_step1_path, class: "nav-link" do %>
              <h6 class="border-start border-warning ps-1 fw-bold text-dark">I saw a Cat</h6>
            <% end %>
          </li>
            <li class="nav-item me-3">
            <%= link_to cat_path(current_user.cats.last), class: "nav-link" do %>
              <h6 class="border-start border-warning ps-1 fw-bold text-dark">My Cat</h6>
            <% end %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://cdn.pixabay.com/photo/2023/07/30/00/12/cat-8157889_960_720.png", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit your Account", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "History of my cats", my_cats_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
