<div class="banner" style="background-image: url('https://th.bing.com/th/id/OIP.gqcSm_YMJ-86nTQmU9I-OQHaEo?w=314&h=185&c=7&r=0&o=5&dpr=2&pid=1.7'); background-size: cover; background-position: center; padding: 100px 0; text-align: center; color: white;">
  <div class="container text-center">
    <h1 style="font-weight: bold;">Where is Monday?</h1>
    <p style="color: #cccccc; margin-bottom: 40px; font-weight: bold;">
      Helping you reunite with what matters most.
    </p>

    <%= form_with url: cats_path, method: :get, local: true, class: "search-form mt-4" do %>

      <div class="form-group">
        <%= text_field_tag :query, params[:query], placeholder: "Enter your City", class: "form-control w-50 d-inline-block", style: "border-radius: 3%;" %>
        <%= submit_tag "Search", class: "btn btn-secondary d-inline-block ml-2 border", style: "border-radius: 10%;" %>
      </div>
      <% end %>
      </div>
  </div>
</div>




<div class="container py-4">
  <div class="row">
    <div class="text-center my-5">
      <h4 style="font-weight: bold; font-size: 40px;">Recently Lost Cats:</h4>
    </div>
    <% @cats.first(4).each_with_index do |cat, index| %>
      <% if index == 0 %>
        <div class="col-lg-6 col-md-12 mb-4">
          <div class="card-cat">
            <% if cat.photo.attached? %>
              <%= cl_image_tag cat.photo.key, height: 600, width: 800, crop: :fill %>
            <% end %>
            <div class="card-body">
              <h3 class="card-title"><%= cat.name %></h3>
              <p class="card-text"><%= cat.description %></p>
              <%= link_to "Find me", cat_path(cat), class: "btn btn-warning" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card-cat">
            <% if cat.photo.attached? %>
              <%= cl_image_tag cat.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <div class="card-body">
              <h3 class="card-title"><%= cat.name %></h3>
              <p class="card-text"><%= cat.description %></p>
              <%= link_to "Find me", cat_path(cat), class: "btn btn-warning" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="text-center my-5">
      <h4 style="font-weight: bold; font-size: 40px">Recently Found Cats:</h4>
    </div>
    <% @cats.select { |cat| cat.found? }.first(4).each do |cat| %>
      <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
        <div class="card-cat">
          <% if cat.photo.attached? %>
            <%= cl_image_tag cat.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="card-content">
            <h2><%= cat.name %></h2>
            <p><%= cat.description %></p>
            <%= link_to cat_path(cat), class: "button" do %>
              Find out more <span class="material-symbols-outlined">arrow_right_alt</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


</div>
