<h1>Pages#home</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2015/03/27/13/16/maine-coon-694730_960_720.jpg);">
  <div class="container text-center">
    <h1>Where is Monday - will help you</h1>
    <p>to find your cat!</p>

    <!-- Search function -->
    <%= form_with url: cats_path, method: :get, local: true, class: "search-form mt-4" do %>
      <div class="form-group">
        <%= label_tag :query, "Search by city", class: "form-label text-white" %>
        <%= text_field_tag :query, params[:query], placeholder: "Enter city", class: "form-control w-50" %>
      </div>
      <%= submit_tag "Search", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>

<div>
  <h1>Lost & Found Cats</h1>
  <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Race</th>
          <th>Eye Color</th>
          <th>Color</th>
          <th>Fur</th>
          <th>Found</th>
          <th>User ID</th>
          <th>Origin Address</th>
          <th>Origin Longitude</th>
          <th>Origin Latitude</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @cats.each do |cat| %>
          <tr>
            <td><%= cat.name %></td>
            <td><%= cat.city %></td>
            <td><%= cat.description %></td>
            <td><%= cat.race %></td>
            <td><%= cat.eye_color %></td>
            <td><%= cat.color %></td>
            <td><%= cat.fur %></td>
            <td><%= cat.found %></td>
            <td><%= cat.user_id %></td>
            <td><%= cat.origin_address %></td>
            <td><%= cat.origin_longitude %></td>
            <td><%= cat.origin_latitude %></td>
            <td><%= link_to "Show", cat %></td>
          </tr>
        <% end %>
      </tbody>
  </table>

  <%= link_to "New Cat Report", new_cat_path %>
</div>
