<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1515002246390-7bf7e8f87b54?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fGNhdHxlbnwwfHwwfHx8MA%3D%3D')">
  <div class="container text-center">
    <h1 style="color: black">Where is Monday?</h1>
    <p style="color: black; font-weight: bold">Helping you reunite with what matters most.</p>

    <%= form_with url: cats_path, method: :get, local: true, class: "search-form mt-4" do %>


    <div class="form-group">
      <%= text_field_tag :query, params[:query], placeholder: "Enter your City", class: "form-control w-50 d-inline-block align-middle" %>
      <%= button_tag(type: "submit", class: "btn btn-dark d-inline-block align-middle ml-2 border") do %>
        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
      <% end %>
    </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <div class="text-center my-5">
      <h4 style="font-weight: bold; font-size: 40px;">Recently Lost Cats:</h4>
    </div>
    <% @cats.select { |cat| !cat.found? }.first(4).each_with_index do |cat, index| %>
      <% if index == 0 %>
        <div class="col-lg-6 col-md-12 mb-4">
          <div class="card-cat">
            <% if cat.photo.attached? %>
              <%= cl_image_tag cat.photo.key, height: 600, width: 800, crop: :fill %>
            <% end %>
            <div class="overlay-text card-cat-label">
              Recently Lost
            </div>
            <div class="card-body">
              <h3 class="card-title"><%= cat.name %></h3>
              <p class="card-text"><%= cat.description %></p>
              <%= link_to cat_path(cat), class: "btn custom-btn" do %>
                <i class="fa-solid fa-paw"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <div class="card-cat">
            <% if cat.photo.attached? %>
              <%= cl_image_tag cat.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <div class="overlay-text card-cat-label">
              Recently Lost
            </div>
            <div class="card-body">
              <h3 class="card-title"><%= cat.name %></h3>
              <p class="card-text"><%= cat.description %></p>
              <%= link_to cat_path(cat), class: "btn custom-btn" do %>
                <i class="fa-solid fa-paw"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="text-center my-5">
      <h4 style="font-weight: bold; font-size: 40px">Recently Found Cats:</h4>
    </div>
    <% @cats.select { |cat| cat.found? }.first(4).each do |cat| %>
      <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
        <div class="card-cat">
          <% if cat.photo.attached? %>
            <%= cl_image_tag cat.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="overlay-text card-cat-label">
            Recently Found
          </div>
          <div class="card-content">
            <h2><%= cat.name %></h2>
            <p><%= cat.description %></p>
            <%= link_to cat_path(cat), class: "btn custom-btn" do %>
              <i class="fa-solid fa-paw"></i> <span class="material-symbols-outlined">arrow_right_alt</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
