<div class="d-flex justify-content-center mb-4">
  <%= form_with url: cats_path, method: :get, local: true, class: "search-form mt-4 d-flex align-items-center" do %>
    <%= text_field_tag :query, params[:query], placeholder: "Enter city", class: "form-control w-auto rounded-pill" %>
    <%= button_tag(type: "submit", class: "align-middle ml-2 rounded-pill border-0 px-3 py-2  text-white bg-warning") do %>
      <i class="fa-solid fa-magnifying-glass fa-lg"></i>
    <% end %>
  <% end %>
</div>

<div class="row mx-3">
  <!-- Cats Section -->
  <div class="col-md-6">
    <% if @cats.present? %>
      <h4 class="text-center m-4">Lost Cats in <%= params[:query] %></h4>
      <div class="row g-0">
        <% @cats.each do |cat| %>
          <div class="card mb-4 h-100 rounded-5">
            <div class="row g-0">
              <div class="col-md-5">
                <% if cat.photo.attached? %>
                  <div class="img-card-index" style="background-image: url('<%= cl_image_path cat.photo.key %>');"></div>
                <% end %>
              </div>

              <div class="col-md-7">
                <div class="card-body">
                    <h6 class="card-title"><%= cat.name %> was lost at <%= cat.origin_address %>.</h6>
                    <% if cat.sightings.any? %>
                      <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-location-dot"></i> Last seen <%= time_ago_in_words(cat.sightings.last.last_seen_at) %> around <%= cat.sightings.last.address %>.</small></p>
                    <% else %>
                      <p class="card-text">No sightings available yet.</p>
                    <% end %>
                    <div class="mt-auto">
                      <%= link_to cat_path(cat), class: "btn-main mt-3 rounded-4" do %>
                        Add Sighting
                      <% end %>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h4 class="text-center my-4">We have no lost cats in: <%= params[:query] %></h4>
    <% end %>
  </div>

  <!-- Sightings Section -->
  <div class="col-md-6">
    <% if @sightings.present? %>
      <h4 class="text-center m-4">Sightings without profile in: <%= params[:query] %></h4>
      <% @sightings.each do |sighting| %>
        <div class="card mb-4 rounded-5">
          <div class="row g-0">
              <div class="col-md-5 rounded-start-5"
                data-controller="map"
                <% marker = [{ lat: sighting.latitude, lng: sighting.longitude, info_window_html: render(partial: "info_window", locals: { sighting: sighting }) }] %>
                data-map-markers-value="<%= marker.to_json %>"
                data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
              </div>
              <div class="col-md-7">
              <div class="card-body">
                <h6 class="card-title"><i class="fa-solid fa-location-dot"></i> Last seen <%= time_ago_in_words(sighting.last_seen_at) %> around <%= sighting.address %>.</h6>
                <small class="fw-semibold">Message</small>
                <div class="fst-italic border p-2 rounded-4 mb-3">
                  <small class="text-body-secondary"><%= sighting.description %></small>
                </div>
                <small class="text-body-secondary">Email-Contact: <%= sighting.user.email %></small>
                <details class="mt-3">
                  <summary class="text-body-secondary">More details</summary>
                  <small class="text-body-secondary">Phone-Contact: +49 1874 2069</small>
                  <br>
                  <small class="text-body-secondary">Last seen: <%= sighting.last_seen_at.strftime("%d %b %Y") %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h4 class="text-center my-4">No sightings without a profile in: <%= params[:query] %></h4>
    <% end %>
  </div>

</div>
