<div class="d-flex justify-content-center mb-4">
  <%= form_with url: cats_path, method: :get, local: true, class: "search-form mt-4 d-flex align-items-center" do %>
    <%= text_field_tag :query, params[:query], placeholder: "Enter city", class: "form-control w-auto rounded-pill" %>
    <%= submit_tag "Search", class: "btn btn-info ms-2 rounded-pill" %>
  <% end %>
</div>

<div class="row mx-3">
  <!-- Cats Section -->
  <div class="col-md-6">
    <% if @cats.present? %>
      <h4 class="text-center m-4">Lost Cats in <%= params[:query] %></h4>
      <div class="row g-0">
        <% @cats.each do |cat| %>
          <div class="card mb-4 h-100">
            <div class="row g-0">
              <div class="col-md-5 image-container">
                <% if cat.photo.attached? %>
                    <%= cl_image_tag cat.photo.key, crop: :fill, class: "img-fluid rounded-start" %>
                  <% end %>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                    <h6 class="card-title"><%= cat.name %> was lost at <%= cat.origin_address %>.</h6>
                    <% if cat.sightings.any? %>
                      <p class="card-text"><small class="text-body-secondary"><i class="fa-solid fa-location-dot"></i> Last seen <%= time_ago_in_words(cat.sightings.last.last_seen_at) %> around <%= cat.sightings.last.address %>.</small></p>
                    <% else %>
                      <p class="card-text">No sightings available yet.</p>
                    <% end %>
                    <%= link_to cat_path(cat), class: "btn btn-success" do %>
                      <small><i class="fa-solid fa-plus"></i> sighting to <%= cat.name %></small>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h1 class="text-center my-4"><strong>We have no lost cats in: <%= params[:query] %></strong></h1>
    <% end %>
  </div>

  <!-- Sightings Section -->
  <div class="col-md-6">
    <% if @sightings.present? %>
      <h2 class="text-center my-4"><strong>Sightings without profile in: <%= params[:query] %></strong></h2>
      <% @sightings.each do |sighting| %>
        <div class="card mb-3" style="min-height: 150px;">
          <div class="row g-0">
            <% if sighting.photo.attached? %>
              <div class="col-md-4 image-container">
                <%= cl_image_tag sighting.photo.key, class: "img-fluid rounded-start" %>
              </div>
              <div class="col-md-4"
                data-controller="map"
                <% marker = [{ lat: sighting.latitude, lng: sighting.longitude, info_window_html: render(partial: "info_window", locals: { sighting: sighting }) }] %>
                data-map-markers-value="<%= marker.to_json %>"
                data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h4 class="card-title">Message:</h4>
                  <p class="card-text"><small class="text-body-secondary">Last updated <%= time_ago_in_words(sighting.updated_at) %> ago</small></p>
                </div>
              </div>
            <% else %>
              <div class="col-md-6"
                data-controller="map"
                <% marker = [{ lat: sighting.latitude, lng: sighting.longitude, info_window_html: render(partial: "info_window", locals: { sighting: sighting }) }] %>
                data-map-markers-value="<%= marker.to_json %>"
                data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
              </div>
              <div class="col-md-6">
              <div class="card-body">
                <h6 class="card-title"><i class="fa-solid fa-location-dot"></i> Last seen <%= time_ago_in_words(sighting.last_seen_at) %> around <%= sighting.address %>.</h6>
                <p class="card-text"><small class="text-body-secondary">Message: <%= sighting.description %></small></p>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h2 class="text-center my-4"><strong>No sightings without profile in: <%= params[:query] %></strong></h2>
    <% end %>
  </div>

</div>
