<div class="container py-4">
  <div class="text-center my-5">
    <h4 style="font-weight: bold; font-size: 40px;">My Cats:</h4>
  </div>
  <div class="row justify-content-center">
    <% @cats.order(created_at: :desc).each do |cat| %>
      <div class="col-lg-6 col-md-12 mb-4 d-flex justify-content-center">
        <div class="card-cat">
          <% if cat.photo.attached? %>
            <%= cl_image_tag cat.photo.key, height: 600, width: 800, crop: :fill %>
          <% end %>
          <div class="card-body text-center">
            <h3 class="card-title"><%= cat.name %></h3>
            <p class="card-text"><%= cat.description %></p>
            <%= link_to "Show me", cat_path(cat), class: "btn btn-warning" %>
            <%= link_to "Edit", edit_cat_path(cat), class: "btn btn-warning" %>
            <%= link_to "Delete", cat_path(cat), class: "btn btn-warning" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
