<div class="cat-form-container mt-4 pt-4">
  <h1 style="text-align: center; color: gray;">Enter Lost Cat Information:</h1>
  <%= simple_form_for @cat do |form| %>

    <div class="cat-form">
      <%= form.label :name, "Cat's Name", class: "form-label" %>
      <%= form.text_field :name, class: "form-input", placeholder: "e.g., Whiskers" %>
      <%= form.label :description, "Description", class: "form-label" %>
      <%= form.text_area :description, class: "form-textarea", placeholder: "e.g., A friendly Siamese cat with a blue collar" %>
      <%= form.label :race, "Race", class: "form-label" %>
      <%= form.text_field :race, class: "form-input", placeholder: "e.g., Siamese" %>
      <%= form.label :eye_color, "Eye Color", class: "form-label" %>
      <%= form.text_field :eye_color, class: "form-input", placeholder: "e.g., Blue" %>
      <%= form.label :color, "Hair Color", class: "form-label" %>
      <%= form.text_field :color, class: "form-input", placeholder: "e.g., Cream" %>
      <%= form.label :fur, "Fur Type", class: "form-label" %>
      <%= form.text_field :fur, class: "form-input", placeholder: "e.g., Short" %>
      <%= form.label :origin_address, "Origin Address", class: "form-label" %>
      <%= form.text_field :origin_address, class: "form-input", placeholder: "e.g., Magnusstraße 24, 50672 Köln" %>
      <%= form.input :photo, as: :file %>
    </div>

    <div class="cat-form">
      <%= form.submit "Submit Report", class: "form-submit" %>
    </div>
  <% end %>
</div>

<%= link_to "Back to home", root_path, class: "back-link" %>
