<div class="container-fluid">
  <div class="row">

    <div class="map col-md-6 sticky-top border border-dark-subtle"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    </div>

    <div class="col-md-6 bg-white">
      <div class="cat-show-card row my-3">
        <div class="cat-details col-md-6">
          <h4><%= @cat.name %> was lost <%= time_ago_in_words(@cat.created_at) %> ago.</h4>
          <p><i class="fa-solid fa-house me-2"></i><%= @cat.origin_address %></p>
          <p><i class="fa-solid fa-envelope me-2"></i><%= @cat.user.email %></p>
          <p class="mb-2"><i class="fa-solid fa-phone me-2"></i>+49 1873 81327</p>
          <small>About</small>
          <div class="rounded-4 border p-2">
            <p><%= @cat.description %></p>
          </div>
              <br>
            <h6><details>
              <summary><small>More details</small></summary>
              <br>
            <div class="row">
            <div class="col-md-6">
              <p><strong>Race:</strong> <%= @cat.race %></p>
              <p><strong>Eye color:</strong> <%= @cat.eye_color %></p>
            </div>
            <div class="col-md-6">
              <p><strong>Hair color:</strong> <%= @cat.color %></p>
              <p><strong>Fur type:</strong> <%= @cat.fur %></p>
            </div>
            </div>
          </div>

        <div class="col-md-6">
          <% if @cat.photo.attached? %>
            <div class="img-container" style="background-image: url('<%= cl_image_path @cat.photo.key %>');">
              <div class="card-cat-label fs-6 <%= @cat.found ? "found" : "not-found" %>">
                <%= @cat.found ? "Cat already found!" : "Cat not found yet :(" %>
              </div>
            </div>
          <% else %>
            <p>No picture available</p>
          <% end %>
          <div class="card-actions d-flex justify-content-end pt-3">

            <% if @cat.user == current_user %>
              <div class="d-flex align-items-center me-3">
                <a class="text-success me-3" onclick="confirmAndPatch(<%= @cat.id %>)" title="Mark as Found">
                  <i class="fa-solid fa-house-flag fa-lg"></i>
                </a>
                <%= link_to edit_cat_path(@cat), class: "text-dark me-3", title: "Edit Cat Details" do %>
                  <i class="fa-solid fa-pen-to-square fa-lg"></i>
                <% end %>
                <%= link_to cat_path(@cat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-danger", title: "Delete Cat" do %>
                  <i class="fa-solid fa-trash fa-lg"></i>
                <% end %>
              </div>
            <% else %>
              <%= link_to "Add your sighting", new_cat_sighting_path(cat_id: @cat.id), class: "btn-main" %>
            <% end %>

          </div>
        </div>
      </div>

      <!-- Selection Mechanism -->
      <div class="sighting-toggle my-4">
      <ul class="list-inline tabs-underlined">
        <li>
          <a href="#" id="accepted-sightings-tab" class="tab-underlined active" onclick="showAcceptedSightings()">Sightings</a>
        </li>
        <% if @cat.user == current_user %>
          <li>
            <a href="#" id="pending-sightings-tab" class="tab-underlined" onclick="showPendingSightings()">Pending Sightings</a>
          </li>
        <% end %>
      </ul>
    </div>




      <!-- Pending Sightings -->
      <% if @cat.user == current_user %>
        <div id="pending-sightings" style="display: none;">
          <% @cat.sightings.where(status: 'pending').each do |sighting| %>
        <div class="card mt-3 bg-white rounded-5">
            <div class="card-header bg-light rounded-top-5 text-body-secondary text-center">
              Posted <%= time_ago_in_words(sighting.last_seen_at) %> ago by <small class="fst-italic"><%= sighting.user.email %></small>
            </div>
            <div class="card-body row">
              <div class="col-md-4">
                <% if sighting.photo.attached? %>
                  <div class="img-sighting" style="background-image: url('<%= cl_image_path @cat.photo.key %>');">
                  </div>
                <% else %>
                <div class="rounded-4 border p-2 h-100">
                  <p>No picture available</p>
                </div>
                <% end %>
              </div>
              <div class="col-md-8">
                <h6 class="card-title"> <i class="fa-solid fa-location-dot"></i> Last seen at <%= sighting.address %></h6>
                <small class="fw-semibold">Message</small>
                <div class="fst-italic">
                  <p><small><%= sighting.description %></small></p>
                </div>
                <div class="d-flex justify-content-end">
                  <%= link_to accept_cat_sighting_path(@cat, sighting), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" }, class: "text-success border py-2 px-3 rounded-start-4" do %>
                    <i class="fa-solid fa-check"></i>
                    <% end %>
                 	<%= link_to reject_cat_sighting_path(@cat, sighting), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" }, class: "text-danger border py-2 px-3 rounded-end-4" do %>
                      <i class="fa-solid fa-xmark"></i>
                    <% end %>
                </div>
              </div>

            </div>
          </div>
          <% end %>
        </div>
      <% end %>

      <!-- Accepted Sightings -->

      <div id="accepted-sightings">
        <% @cat.sightings.where(status: 'accepted').order(last_seen_at: :desc).each do |sighting| %>

          <div class="card mt-3 bg-white rounded-5">
            <div class="card-header bg-light rounded-top-5 text-body-secondary text-center">
              Posted <%= time_ago_in_words(sighting.last_seen_at) %> ago by <small class="fst-italic"><%= sighting.user.email %></small>
            </div>
            <div class="card-body row">
              <div class="col-md-4">
                <% if sighting.photo.attached? %>
                  <div class="img-sighting" style="background-image: url('<%= cl_image_path @cat.photo.key %>');">
                  </div>
                <% else %>
                <div class="rounded-4 border p-2 h-100">
                  <p>No picture available</p>
                </div>
                <% end %>
              </div>
              <div class="col-md-8">
                <h6 class="card-title"> <i class="fa-solid fa-location-dot"></i> Last seen at <%= sighting.address %></h6>
                <small class="fw-semibold">Message</small>
                <div class="fst-italic">
                  <p><small><%= sighting.description %></small></p>
                </div>
                <div class="d-flex justify-content-end">
                  <% if sighting.user == current_user %>
                    <%= link_to sighting_path(sighting), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-danger me-2" do %>
                      <i class="fa-solid fa-trash"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Add Sighting Button for Cat Owner -->
      <% if @cat.user == current_user %>
        <div class="text-center my-3">
          <%= link_to "Add Sighting", new_cat_sighting_path(cat_id: @cat.id), class: "btn-main" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>

function showPendingSightings() {
  event.preventDefault();
  document.getElementById('pending-sightings').style.display = 'block';
  document.getElementById('accepted-sightings').style.display = 'none';
  document.getElementById('pending-sightings-tab').classList.add('active');
  document.getElementById('accepted-sightings-tab').classList.remove('active');
}

function showAcceptedSightings() {
  event.preventDefault();
  document.getElementById('pending-sightings').style.display = 'none';
  document.getElementById('accepted-sightings').style.display = 'block';
  document.getElementById('accepted-sightings-tab').classList.add('active');
  document.getElementById('pending-sightings-tab').classList.remove('active');
}

// cat found code
  function confirmAndPatch(catId) {
    if (confirm("Has your cat been found?")) {
      fetch(`/cats/${catId}/found`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        },
        body: JSON.stringify({ found: true })
      }).then(response => {
        if (response.ok) {
          location.reload();
        } else {
          alert('Failed to update the status.');
        }
      });
    }
  }
</script>
