<div class="container-fluid">
  <div class="row">

    <div class="map col-md-6 sticky-top border border-dark-subtle"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    </div>

    <div class="col-md-6 bg-white">
      <div class="cat-show-card row my-3">
        <div class="cat-details col-md-5">
          <h4><%= @cat.name %> was lost <%= time_ago_in_words(@cat.created_at) %> ago.</h4>
          <p><i class="fa-solid fa-house me-2"></i><%= @cat.origin_address %></p>
          <p class="<%= @cat.found ? "text-success" : "text-warning" %>"><%= @cat.found ? "Cat already found!" : "This cat has been not found yet." %></p>
          <br>
          <h5>Cat description:</h5>
          <p><%= @cat.description %></p>
          <p><strong>Race:</strong> <%= @cat.race %></p>
          <p><strong>Eye color:</strong> <%= @cat.eye_color %></p>
          <p><strong>Hair color:</strong> <%= @cat.color %></p>
          <p><strong>Fur type:</strong> <%= @cat.fur %></p>
        </div>

        <div class="col-md-7">
          <% if @cat.photo.attached? %>
            <div class="img-container">
              <%= cl_image_tag @cat.photo.key, class: "rounded img-fluid hover-zoom" %>
            </div>
          <% else %>
            <p>No picture available</p>
          <% end %>
          <div class="card-actions d-flex flex-row-reverse pt-3">

            <% if @cat.user == current_user %>
              <%= link_to cat_path(@cat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-danger me-3" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
              <%= link_to edit_cat_path(@cat), class: "text-dark me-3" do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
              <button class="btn btn-success me-3" onclick="confirmAndPatch(<%= @cat.id %>)">
                <i class="fa-solid fa-house-flag"></i>
              </button>
            <% else %>
              <%= link_to "Add your sighting", new_cat_sighting_path(cat_id: @cat.id), class: "btn btn-secondary" %>
            <% end %>

          </div>
        </div>
      </div>

      <!-- Selection Mechanism -->
      <div class="sighting-toggle my-4">
      <ul class="list-inline tabs-underlined">
        <li>
          <a href="#" id="accepted-sightings-tab" class="tab-underlined active" onclick="showAcceptedSightings()">Sightings</a>
        </li>
        <% if @cat.user == current_user %>
          <li>
            <a href="#" id="pending-sightings-tab" class="tab-underlined" onclick="showPendingSightings()">Pending Sightings</a>
          </li>
        <% end %>
      </ul>
    </div>




      <!-- Pending Sightings -->
      <% if @cat.user == current_user %>
        <div id="pending-sightings" style="display: none;">
          <% @cat.sightings.where(status: 'pending').each do |sighting| %>
            <div class="card text-center mt-3">
              <div class="card-header">
                <h4 class="card-title mb-0">Last seen at <%= sighting.address %></h4>
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p><strong>Sighting by :</strong> <%= sighting.user.email %></p>
                <p><strong>Message:</strong> <%= sighting.description %></p>

                <%= link_to "Reject", reject_cat_sighting_path(@cat, sighting), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" }, class: "btn btn-warning text-white" %>
                <%= link_to "Accept", accept_cat_sighting_path(@cat, sighting), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" }, class: "btn btn-success text-white" %>
              </div>
              <div class="card-footer text-body-secondary">
                Posted <%= time_ago_in_words(sighting.last_seen_at) %> ago.
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- Accepted Sightings -->
      <div id="accepted-sightings" >
        <% @cat.sightings.where(status: 'accepted').order(created_at: :desc).each do |sighting| %>

          <div class="card text-center mt-3">
            <div class="card-header">
              <h4 class="card-title mb-0">Last seen at <%= sighting.address %></h4>
            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p><strong>Sighting by :</strong> <%= sighting.user.email %></p>
              <p><strong>Message:</strong> <%= sighting.description %></p>
              <% if sighting.user == current_user %>
                <%= link_to "Delete", sighting_path(sighting), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger text-white" %>
              <% end %>

            </div>
            <div class="card-footer text-body-secondary">
              Posted <%= time_ago_in_words(sighting.last_seen_at) %> ago.
            </div>
          </div>
        <% end %>
      </div>

      <!-- Add Sighting Button for Cat Owner -->
      <% if @cat.user == current_user %>
        <div class="text-center my-3">
          <%= link_to "Add your sighting", new_cat_sighting_path(cat_id: @cat.id), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>

function showPendingSightings() {
  event.preventDefault();
  document.getElementById('pending-sightings').style.display = 'block';
  document.getElementById('accepted-sightings').style.display = 'none';
  document.getElementById('pending-sightings-tab').classList.add('active');
  document.getElementById('accepted-sightings-tab').classList.remove('active');
}

function showAcceptedSightings() {
  event.preventDefault();
  document.getElementById('pending-sightings').style.display = 'none';
  document.getElementById('accepted-sightings').style.display = 'block';
  document.getElementById('accepted-sightings-tab').classList.add('active');
  document.getElementById('pending-sightings-tab').classList.remove('active');
}

// cat found code
  function confirmAndPatch(catId) {
    if (confirm("Has your cat been found?")) {
      fetch(`/cats/${catId}/found`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        },
        body: JSON.stringify({ found: true })
      }).then(response => {
        if (response.ok) {
          location.reload();
        } else {
          alert('Failed to update the status.');
        }
      });
    }
  }
</script>
