<div class="container-fluid bg-white ps-4">
  <div class="row">

    <div class="map col-md-6 sticky-top border border-dark-subtle"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    </div>

    <div class="col-md-6">
      <div class="cat-show-card row my-3">
        <div class="cat-details col-md-5">
          <h4 class="<%= @cat.found ? "text-success" : "text-danger" %>"><%= @cat.found ? "Cat already found!" : "This cat has not been found yet." %></h4>
          <h5><i class="fa-solid fa-house me-2"></i><%= @cat.origin_address %></h5>
          <h5><%= @cat.name %> was lost <%= time_ago_in_words(@cat.created_at) %> ago.</h5>
          <h6><%= @cat.description %></h6>
          <p><strong>Race:</strong> <%= @cat.race %></p>
          <p><strong>Eye color:</strong> <%= @cat.eye_color %></p>
          <p><strong>Hair color:</strong> <%= @cat.color %></p>
          <p><strong>Fur type:</strong> <%= @cat.fur %></p>
        </div>

        <div class="col-md-7">
          <% if @cat.photo.attached? %>
            <div class="img-container">
              <%= cl_image_tag @cat.photo.key, class: "rounded img-fluid hover-zoom" %>
            </div>
          <% else %>
            <p>No picture available</p>
          <% end %>
          <div class="card-actions d-flex flex-row-reverse pt-3">

            <% if @cat.user == current_user %>
              <%= link_to cat_path(@cat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-danger me-3" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
              <%= link_to edit_cat_path(@cat), class: "text-dark me-3" do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
              <button class="btn btn-success me-3" onclick="confirmAndPatch(<%= @cat.id %>)">
                <i class="fa-solid fa-house-flag"></i>
              </button>
            <% else %>
              <%= link_to "Add your sighting", new_cat_sighting_path(cat_id: @cat.id), class: "btn btn-secondary" %>
            <% end %>

          </div>
        </div>
      </div>

      <!-- Selection Mechanism -->
      <div class="sighting-toggle my-3">
        <% if @cat.user == current_user %>
          <button class="btn btn-primary" onclick="showPendingSightings()">Pending Sightings</button>
        <% end %>
        <button class="btn btn-secondary" onclick="showAcceptedSightings()">Accepted Sightings</button>
      </div>

      <!-- Pending Sightings -->
      <% if @cat.user == current_user %>
        <div id="pending-sightings">
          <% @cat.sightings.where(status: 'pending').order(last_seen_at: :desc).each do |sighting| %>
            <div class="card text-center mt-3">
              <div class="card-header">
                <h4 class="card-title mb-0">Last seen at <%= sighting.address %></h4>
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p><strong>Message:</strong> <%= sighting.description %></p>
                <% if sighting.user == current_user %>
                  <%= link_to "Delete", sighting_path(sighting), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger text-white" %>
                <% else %>
                  <%= link_to "Reject", reject_cat_sighting_path(sighting), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" }, class: "btn btn-warning text-white" %>
                  <%= link_to "Accept", accept_cat_sighting_path(sighting), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" }, class: "btn btn-success text-white" %>
                <% end %>
              </div>
              <div class="card-footer text-body-secondary">
                Posted <%= time_ago_in_words(sighting.last_seen_at) %> ago.
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- Accepted Sightings -->
      <div id="accepted-sightings" style="display: none;">
        <% @cat.sightings.where(status: 'accepted').order(last_seen_at: :desc).each do |sighting| %>

          <div class="card text-center mt-3">
            <div class="card-header">
              <h4 class="card-title mb-0">Last seen at <%= sighting.address %></h4>
            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p><strong>Message:</strong> <%= sighting.description %></p>
              <% if sighting.user == current_user %>
                <%= link_to "Delete", sighting_path(sighting), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger text-white" %>
              <% else %>
                <%= link_to "Reject", reject_cat_sighting_path(sighting), data: { turbo_method: :patch, turbo_confirm: "Are you sure?" }, class: "btn btn-warning text-white" %>
                <%= link_to "Accept", accept_cat_sighting_path(sighting),
                  data: { turbo_method: :patch, turbo_confirm: "Are you sure?" },
                  class: "btn btn-success text-white #{'disabled' if sighting.status == 'accepted'}" %>
              <% end %>
            </div>
            <div class="card-footer text-body-secondary">
              Posted <%= time_ago_in_words(sighting.last_seen_at) %> ago.
            </div>
          </div>
        <% end %>
      </div>

      <!-- Add Sighting Button for Cat Owner -->
      <% if @cat.user == current_user %>
        <div class="text-center my-3">
          <%= link_to "Add your sighting", new_cat_sighting_path(cat_id: @cat.id), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function showPendingSightings() {
    document.getElementById('pending-sightings').style.display = 'block';
    document.getElementById('accepted-sightings').style.display = 'none';
  }

  function showAcceptedSightings() {
    document.getElementById('pending-sightings').style.display = 'none';
    document.getElementById('accepted-sightings').style.display = 'block';
  }

  function confirmAndPatch(catId) {
    if (confirm("Has your cat been found?")) {
      fetch(`/cats/${catId}/found`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        },
        body: JSON.stringify({ found: true })
      }).then(response => {
        if (response.ok) {
          location.reload();
        } else {
          alert('Failed to update the status.');
        }
      });
    }
  }
</script>
